
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/MemoryCard.css" />
    <link rel="icon" type="image/icon" href="images\favicon.ico" />

</head>
<body>

    <form method="post">
        <h2>Yeni Kategori</h2>
        <br>
        <label>Kategori Giriniz</label>
        <input type="text" class="form-control" name="kategori" placeholder="Yeni Kategori" />

        </br>
        <button class="btn btn-secondary">Kaydet</button>
    </form>
</body>
</html>